<script src="/hooks/smartthings-connector/js/smartthings.lang.js"></script>
<script src="/hooks/smartthings-connector/js/smartthings.controller.js"></script>
<script src="/hooks/smartthings-connector/js/smartthings.service.js"></script>

<div data-ng-controller="SmartthingsController as vm">
  <div class="box skin-box box-primary">
    <div class="box-header">
      <h3 class="box-title">{{ 'SMT_MODULE' | translate }}</h3>
      <small class="text-muted pull-right"><em>{{ vm.loading | translate }}</em></small>
    </div>
    <div class="box-body table-responsive">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingConnect">
            <p class="panel-title" style="font-size: inherit">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseConnect" aria-expanded="vm.step === 'SMT_STEP_CONNECT'" aria-controls="collapseConnect">
                {{ 'SMT_STEP_CONNECT' | translate}}
              </a>
            </p>
          </div>
          <div id="collapseConnect" class="panel-collapse collapse" ng-class="{ in: vm.step === 'SMT_STEP_CONNECT' }" role="tabpanel" aria-labelledby="headingConnect">
            <div class="panel-body">
              {{ 'SMT_CONNECT_DESCR' | translate}}
              <ol>
                <li style="list-style-type: decimal;"><a href="https://account.smartthings.com/tokens" target="_blank">{{ 'SMT_CONNECT_CREATE_TOKEN' | translate }}</a></li>
                <li style="list-style-type: decimal;">{{ 'SMT_CONNECT_SELECT_TOKEN' | translate}}</li>
                <li style="list-style-type: decimal;">{{ 'SMT_CONNECT_CHECK_TOKEN' | translate}}</li>
                <li style="list-style-type: decimal;">{{ 'SMT_CONNECT_COPY_TOKEN' | translate}}</li>
              </ol>

              <form>
                <div class="form-group">
                  <label for="authToken" class="control-label">{{ 'SMT_CONNECT_AUTH_TOKEN' | translate }}</label>
                  <input name="authToken" type="text" class="form-control" ng-model="vm.authToken"></textarea>
                </div>
                <div class="form-group">
                  <label for="targetUrl" class="control-label">{{ 'SMT_CONNECT_TARGET_URL' | translate }}</label>
                  <input name="targetUrl" type="text" class="form-control" ng-model="vm.targetUrl"></textarea>
                </div>
                <div class="form-group text-center">
                  <button type="button" class="btn btn-success btn-flat" ng-click="vm.installApp()">{{ 'SMT_SAVE' | translate }}</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>